{{>header}}

<div class="container mt-3">
  <h1 class="alert alert-success">
      Tus datos:
      
  </h1>

<div>
        <ul>
            <li>Nombre: {{usuario.username}} </li>
            <li>Email: {{usuario.email}} </li>
            <li>Teléfono: {{usuario.tel}} </li>
        </ul>
       
    </table>
</div>

<button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
              Desloguearse
</button>

</div>

{{>footer}}