<div class="container mt-3">
        <div class="jumbotron">
            <h1>Login de Usuario</h1>
            <br>
            <form action="/login" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="username">Ingrese su email</label>
                    <input id="username" class="form-control" type="email" name="username" required>
                    <label for="password">Ingrese su contraseña</label>
                    <input id="password" class="form-control" type="text" name="password" required>
                </div>
                <button class="btn btn-success mt-3">Enviar</button>
            </form>
            <div class="text-left">
                <button class="btn btn-success my-3" onclick="location.href = '/register'">Ir a Register</button>
            </div>
        </div>
        <hr>
        
    </div>